body {
  @extend %poppins-400;
  font-size: 14px;
  line-height: 1.5;
  color: $default;
  background-color: #ccc;
}

.noscroll::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

a {
  @extend %poppins-400;
  color: $black;
}

button {
  border: none;
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
  @extend %poppins-400;
  color: #fff;
  font-size: 40px;
  line-height: 1;
}

.subtitle-main {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtitle-second {
  font-size: 24px;
  font-weight: 400;
}

%btn {
  position: relative;
  padding: 10px 20px 12px 40px;
  background-color: #fff;
  border-radius: 14px;
  color: #000;
  transition: box-shadow 0.5s ease;
  &::before {
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
  }
  &:hover {
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.8);
  }
}



