body {
  @extend %poppins-400;
  font-size: 14px;
  line-height: 1.5;
  color: $default;
  background-color: #ccc;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

a {
  @extend %poppins-400;
  color: $black;
}

button {
  border: none;
  cursor: pointer;
}


.title {
  margin-bottom: 15px;
  @extend %poppins-400;
  color: #fff;
  font-size: 40px;
  line-height: 1;
}

.subtitle-main {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtitle-second {
  font-size: 24px;
  font-weight: 400;
}

.noscroll {
  overflow: hidden;
}


