<header class="header">
  <div class="container">
    <div class="header__top">
      <a class="logo" href="index.html">
        <img class="logo__img" src="images/logo.svg" alt="logo image">
      </a>
      <div class="menu__wrapper">
        <nav class="menu">
          <button class="menu__btn">
            <span></span>
          </button>
          <ul class="menu__list">
            <li class="menu__list-li">
              <a class="menu__list-a" href="#">Business areas</a>
            </li>
            <li class="menu__list-li">
              <a class="menu__list-a" href="#">Featured images</a>
            </li>
            <li class="menu__list-li">
              <a class="menu__list-a" href="#">Gear cage</a>
            </li>
            <li class="menu__list-li">
              <a class="menu__list-a" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <div>
          <a class="header__btn" href="#">Get template</a>
        </div>
      </div>
    </div>
  </div>
</header>